mydomain.example {
    encode zstd gzip
    reverse_proxy /api/* localhost:1237
    file_server /docs/* {
        root ./site/
    }
    file_server {
        root ./spanner-v3-webdash/_build
    }
}
