[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
py-cord = "~=2.5"
jishaku = "~=2.5"
rich = "~=13.7"
tortoise-orm = {extras = ["asyncpg"], version = "~=0.20"}
jinja2 = "*"
fastapi = "~=0.111"
uvicorn = {extras = ["standard"], version = "~=0.30"}
pyjwt = "~=2.8"
psutil = "~=6.0"

[dev-packages]
ruff = "~=0.4"

[requires]
python_version = "3.12"
